@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    font-family: 'Balsamiq Sans', cursive;
}

.navbar-brand-centered {
    position: absolute;
    top:20%;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;

}
    
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.profile{
    padding-top: 2rem;
    left: 50%;
    text-align: center;
    font-size: xx-large;
}

.profession{
    color: #8DA4BE;
}