@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

:root{
    --main-color: #FFF1E6;
    --sub-color: #8DA4BE;
    --text-color: #000000;

    /* font-weight */
        --font-medium: 500;
        --font-semi-bold: 600;
        --font-bold: 700;

    /* font and  font size */
        --big-font-size: 1.25rem;
        --bigger-font-size: 1.5rem;
        --biggest-font-size: 2rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: .938rem;
        --smaller-font-size: .813rem;
    
        /* margines */
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;

}

body {
    font-family: 'Balsamiq Sans', cursive;
    background-color: var(--main-color);
}

.navbar-brand-centered {
    position: absolute;
    top:20%;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
}
    
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.profile{
    padding-top: 2rem;
    left: 50%;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 2rem;
}

.profession{
    color: var(--sub-color);
}

.shape{
    width: 250px;
    height: 400px;
    border-radius:85% 85% 85% 85% / 55% 55% 55% 55%;    
    background-color: var(--sub-color);
    overflow: hidden;
    align-items: center;
    display: flex;
}

.shape1 {
    width: 220px;
    height: 370px;
    border-radius: 85% 85% 85% 85% / 55% 55% 55% 55%;
    background-color: var(--main-color);
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.TITLE{
    padding-left: 1.5rem;
    padding-bottom: .5rem;
    color: var(--sub-color);
    font-weight: bold;
}

.DESC{
    padding-top: .5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    color: var(--text-color);
}

.column1{
    text-align: center;
    justify-content: center;
}

.column3{
    padding-right: 5%;
    text-align: end;
    justify-content: center;
}

.title{
    padding-bottom: .5rem;
    color: var(--sub-color);
    font-weight: bold;
}

.desc{
    font-weight: lighter;
    font-size: xx-large;
    padding-bottom: 1rem;
    color: var(--text-color);
}

 .line {
    margin: 10px auto;
    width: 76%;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    text-align: center
 }


 .section-title {
     position: relative;
     font-size: var(--big-font-size);
     font-weight: bold;
     margin-bottom: var(--mb-4);
     text-align: center;
     letter-spacing: .1rem;
 }

.skill{
    width: 100px;
    height: 100px;
}